html, body {
	background-color: #EBEBEB !important;
}

md-tooltip .md-content {
	background-color: #A94442 !important;
	font-size: 13px !important;
}

fieldset.fsStyle {
    border: 1px solid #C5C0C0;
    padding: 15px;
    border-radius: 15px;
    height: 340px;
}


.focus {
	box-shadow: 0px 0px 8px -2px #66AFE9;
	border-color: #AAC4D8 !important;
}

.form-group.checkbox-inline {
	margin-left: 15px !important;
}

fieldset.fsStyle .row.button {
	bottom: 15px;
    position: absolute;
    width: calc(100% - 30px);
}

h2.h2-form {
	margin-bottom: 15px;
	margin-top: 0px;
}

.div-table {
	display: table;
}

.div-row {
	display: table-row;
}

.div-cell {
	display: table-cell;
	text-align: left;
}

.w100 {
	width: 100%;
}

.adm {
    background-color: #D84545 !important;
}

.user {
    background-color: #2FB145 !important;
}

.role {
	display: inline-block;
	padding-right: 5px;
}

.users {
	background-color: #CACACA;
}

.users .div-cell.divh {
	background-color: #A09E9E !important;
}

.users .div-cell {
	padding: 4px 8px;
	vertical-align: middle;
}

.users.div-table {
	border-radius: 6px;
	overflow: hidden;
}

md-switch {
	margin: 0 !important;
}

.error {
	padding-top: 11px;
	color: red;
}