<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="row"> 
		 	<div class="col-md-6">
		 		<!-- SIGNIN FORM -->
		 		<form name="userFormSignin" novalidate>
		 			<fieldset class="fsStyle" ng-class="{focus: signinFocus}">
						
						<h2 class="h2-form">S'identifier</h2>
						
						<div class="row">
							<div class="form-group col-md-12">
								<label>Nom d'utilisateur</label>
								<input 
									ng-focus="signinFocus = true; signupFocus = false"
									name="username"
									ng-model="userInfoSignin.username" 
									class="form-control"
									type="text" 
									placeholder="Entrer nom d'utilisateur" 
									ng-keyup="$event.keyCode == 13 && login()" />
							</div>
						</div>	
						<div class="row">
							<div class="form-group col-md-12">
								<label>Mot de passe</label>
								<input 
									ng-focus="signinFocus = true; signupFocus = false"
									name="password"
									ng-model="userInfoSignin.password"
									class="form-control"
									type="password" 
									placeholder="Entrer mot de passe" 
									ng-keyup="$event.keyCode == 13 && login()" />
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12 checkbox-inline">
								<input 
									ng-focus="signinFocus = true; signupFocus = false"
									type="checkbox"/>
								<label>Rester connecté</label>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12 text-center error">
								<span>{{erreur}}</span>
							</div>
						</div>
						<div class="row button text-center"> 
							<div class="col-md-12"> 
								<button 
									ng-focus="signinFocus = true; signupFocus = false"
									type="submit" 
									class="btn btn-primary" 
									ng-click="login()">Se connecter
								</button>
							<div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="col-md-6">
				<!-- SIGNUP FORM -->
				<form name="userFormSignup" novalidate>
					<fieldset class="fsStyle" ng-class="{focus: signupFocus}">
					
						<!-- USERNAME -->
						<h2 class="h2-form">S'enregistrer</h2>

						<div class="row">
							<div class="form-group col-md-12" ng-class="{'has-error': userFormSignup.username.$invalid && !userFormSignup.username.$pristine}">
								<label>Nom d'utilisateur</label>
								<div remove-handlers>
									<input
										unique
										ng-focus="signupFocus = true; signinFocus = false"
										name="username"
										ng-model="userInfoSignup.username" 
										required
										class="form-control"
										ng-minlength="3"
										ng-maxlength="15"
										type="text" 
										placeholder="Entrer nom d'utilisateur"
										ng-keyup="$event.keyCode == 13 && signup()" />
									<md-tooltip md-direction="right" md-visible="userFormSignup.username.$error.required && !userFormSignup.username.$pristine">
							          	Nom d'utilisateur requis
							        </md-tooltip>
							        <md-tooltip md-direction="right" md-visible="userFormSignup.username.$error.unique && !userFormSignup.username.$pristine">
							          	Ce nom d'utilisateur est déjà pris
							        </md-tooltip>
							      	<md-tooltip md-direction="right" md-visible="userFormSignup.username.$error.minlength && !userFormSignup.username.$pristine">
							          	Nom d'utilisateur trop court
							        </md-tooltip>
							        <md-tooltip md-direction="right" md-visible="userFormSignup.username.$error.maxlength && !userFormSignup.username.$pristine">
							          	Nom d'utilisateur trop long
							        </md-tooltip>
							    </div>
							</div>
						</div>
							
						<!-- PASSWORD -->
						<div class="row">
							<div class="form-group col-md-12" ng-class="{'has-error': userFormSignup.password.$invalid && !userFormSignup.password.$pristine}">
								<label>Mot de passe</label>
								<div remove-handlers>
									<input 
										ng-focus="signupFocus = true; signinFocus = false"
										name="password"
										ng-model="userInfoSignup.password" 
										required
										class="form-control"
										ng-minlength="3"
										type="password" 
										placeholder="Entrer mot de passe" 
										ng-keyup="$event.keyCode == 13 && signup()" />
									<md-tooltip md-direction="right" md-visible="userFormSignup.password.$error.required && !userFormSignup.password.$pristine">
							          	Mot de passe requis
							        </md-tooltip>
							        <md-tooltip md-direction="right" md-visible="userFormSignup.password.$error.minlength && !userFormSignup.password.$pristine">
							          	Mot de passe trop court
							        </md-tooltip>
							    </div>
							</div>
						</div>

						<!-- PASSWORD CONFIRMATION -->
						<div class="row">
							<div class="form-group col-md-12" ng-class="{'has-error': userFormSignup.passwordConfirmation.$invalid && !userFormSignup.password.$error && !userFormSignup.passwordConfirmation.$pristine}">
								<label>Confirmation du mot de passe</label>
								<div remove-handlers>
									<input 
										ng-focus="signupFocus = true; signinFocus = false"
										name="passwordConfirmation"
										ng-model="userInfoSignup.passwordConfirmation" 
										required
										match="password"
										class="form-control"
										type="password" 
										placeholder="Confirmer mot de passe" 
										ng-keyup="$event.keyCode == 13 && signup()" />
									<md-tooltip md-direction="right" md-visible="userFormSignup.passwordConfirmation.$error.required && !userFormSignup.passwordConfirmation.$pristine">
							          	Veuillez confirmer votre mot de passe
							        </md-tooltip>
							        <md-tooltip md-direction="right" md-visible="userFormSignup.passwordConfirmation.$error.match && !userFormSignup.password.$invalid && !userFormSignup.passwordConfirmation.$pristine">
							          	Les mots de passes sont différents
							        </md-tooltip>
							    </div>
							</div>
						</div>
						<div class="row button text-center">
							<button 
								ng-focus="signupFocus = true; signinFocus = false"
								type="submit" 
								class="btn btn-primary" 
								ng-click="signup()">S'enregistrer
							</button>
						</div>
					<fieldset>
				</form>
			</div>
		</div>
	</div>
</div>