<div>
	<p>Veuillez compléter les informations ci dessous</p>
	<input ng-class="{erreur:userInfo.isErreurUsername()}" ng-keyup="$event.keyCode == 13 && signup()" type="text" ng-model="userInfo.username" placeholder="Enter user name"/> {{userInfo.usernameValidation()}}</br>

	<input ng-class="{erreur:userInfo.isErreurPassword()}" type="password" ng-keyup="$event.keyCode == 13 && signup()" ng-model="userInfo.password" placeholder="Enter password"/> {{userInfo.passwordValidation()}}</br>

	<input ng-class="{erreur:userInfo.isErreurPasswordConfirmation()}" type="password" ng-keyup="$event.keyCode == 13 && signup()" ng-model="userInfo.passwordConfirmation" placeholder="Confirm password"/> {{userInfo.passwordConfirmationValidation()}}</br>

	<button ng-click="signup()">S'enregistrer</button>

	<button ui-sref="site.accueil">Retour</button>
</div>