 <div ng-show="user.isAuthenticated">
 	<p>hello {{user.name}} !</p>
	<button ng-click="logout()">logout</button>
 </div>

 <div ng-show="!user.isAuthenticated">
 	<div class="container">
 		<div class="row">
 			<div class="col-md-12">
 				<h1 class="text-center">Ca te plait ?</h1>
 			</div>
 		</div>
 		<div class="row">
		 	<div class="col-md-3 col-md-offset-3">
		 		<!-- SIGNIN FORM -->
		 		<form name="userFormSignin" novalidate>
					<h2>Se connecter</h2>
					<div class="row">
						<div class="form-group col-md-12">
							<label>Nom d'utilisateur</label>
							<input 
								name="username"
								ng-model="userInfoSignin.username" 
								class="form-control"
								type="text" 
								placeholder="Entrer nom d'utilisateur" 
								ng-keyup="$event.keyCode == 13 && login()" />
						</div>
					</div>	
					<div class="row">
						<div class="form-group col-md-12">
							<label>Mot de passe</label>
							<input 
								name="password"
								ng-model="userInfoSignin.password"
								class="form-control"
								type="password" 
								placeholder="Entrer mot de passe" 
								ng-keyup="$event.keyCode == 13 && login()" />
						</div>
					</div>
					<button 
						type="submit" 
						class="btn btn-primary" 
						ng-click="signup()">Se connecter
					</button> {{erreur}}
				</form>
			</div>
			<div class="col-md-6">  
				<!-- SIGNUP FORM -->
				<form name="userFormSignup" novalidate>
						
					<!-- USERNAME -->
					<h2>S'enregistrer</h2>

					<div class="row">
						<div class="form-group col-md-6" ng-class="{'has-error': userFormSignup.username.$invalid && !userFormSignup.username.$pristine}">
							<label>Nom d'utilisateur</label>
							<div>
								<input 
									name="username"
									ng-model="userInfoSignup.username" 
									required
									class="form-control"
									ng-minlength="3"
									ng-maxlength="15"
									type="text" 
									placeholder="Entrer nom d'utilisateur"
									ng-keyup="$event.keyCode == 13 && signup()" />
								<md-tooltip md-direction="right" md-visible="userFormSignup.username.$error.required && !userFormSignup.username.$pristine">
						          	Nom d'utilisateur requis
						        </md-tooltip>
						        <md-tooltip md-direction="right" md-visible="userFormSignup.username.$error.minlength && !userFormSignup.username.$pristine">
						          	Nom d'utilisateur trop court
						        </md-tooltip>
						        <md-tooltip md-direction="right" md-visible="userFormSignup.username.$error.maxlength && !userFormSignup.username.$pristine">
						          	Nom d'utilisateur trop long
						        </md-tooltip>
						    </div>
						</div>
					</div>
						
					<!-- PASSWORD -->
					<div class="row">
						<div class="form-group col-md-6" ng-class="{'has-error': userFormSignup.password.$invalid && !userFormSignup.password.$pristine}">
							<label>Mot de passe</label>
							<div>
								<input 
									name="password"
									ng-model="userInfoSignup.password" 
									required
									class="form-control"
									ng-minlength="8"
									type="password" 
									placeholder="Entrer mot de passe" 
									ng-keyup="$event.keyCode == 13 && signup()" />
								<md-tooltip md-direction="right" md-visible="userFormSignup.password.$error.required && !userFormSignup.password.$pristine">
						          	Mot de passe requis
						        </md-tooltip>
						        <md-tooltip md-direction="right" md-visible="userFormSignup.password.$error.minlength && !userFormSignup.password.$pristine">
						          	Mot de passe trop court
						        </md-tooltip>
						    </div>
						</div>
					</div>

					<!-- PASSWORD CONFIRMATION -->
					<div class="row">
						<div class="form-group col-md-6" ng-class="{'has-error': userFormSignup.passwordConfirmation.$invalid && !userFormSignup.password.$error && !userFormSignup.passwordConfirmation.$pristine}">
							<label>Confirmation du mot de passe</label>
							<div>
								<input 
									name="passwordConfirmation"
									ng-model="userInfoSignup.passwordConfirmation" 
									required
									match="password"
									class="form-control"
									type="password" 
									placeholder="Confirmer mot de passe" 
									ng-keyup="$event.keyCode == 13 && signup()" />
								<md-tooltip md-direction="right" md-visible="userFormSignup.passwordConfirmation.$error.required && !userFormSignup.passwordConfirmation.$pristine">
						          	Veuillez confirmer votre mot de passe
						        </md-tooltip>
						        <md-tooltip md-direction="right" md-visible="userFormSignup.passwordConfirmation.$error.match && !userFormSignup.password.$invalid && !userFormSignup.passwordConfirmation.$pristine">
						          	Les mots de passes sont différents
						        </md-tooltip>
						    </div>
						</div>
					</div>
					<button 
						type="submit" 
						class="btn btn-primary" 
						ng-click="signup()">S'enregistrer
					</button>
				</form>
			</div>
		</div>
	</div>
 </div>