.rooms {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5px;
}

.room {
	float: left;
	position: relative;
	border-style: solid;
	height: 350px;
	width: 300px;
	margin-left: 10px;
	background-color: lightgrey;
	padding: 5px;
}

.room .msgs {
	height: 300px;
}

.input {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
}

.time {
	position: absolute;
	bottom: 3px;
	right: 3px;
	color: grey;
	font-size: 10px;
}

.bubble-receiver {
	width: auto;
	padding: 2px;
	position: relative;
	border-radius: 5px;
	background-color: #919BD6;
}

.bubble-sender {
	width: auto;
	padding: 2px;
	position: relative;
	border-radius: 5px;
	background-color: #91D6AD;
}