<!doctype html>
<html>
    <head>
        <title>Socket.IO chat</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <link rel="stylesheet" href="chat/index.css"></link>
        <script src="chat/jquery.js"></script>
        <script src="chat/mCustomScrollbar.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="chat/mCustomScrollbar.css">
        <script src="chat/chat.js"></script>
        <script>
            (function($){
                $(window).load(function(){
                    $(".content").mCustomScrollbar();
                });
            })(jQuery);
        </script>
    </head>

    <body ng-app="Chat" ng-controller="chat">
        <div class="chat-container">
            <div ng-show="!min" class="rooms">
                <div ng-repeat="r in rooms" ng-click="setRoom(r)" class="room-container">
                    <div ng-class="{curr: currRoom.name === r.name}" class="room">
                        <span>{{r.id}}</span>
                    </div>
                </div>
            </div>
            <div class="chat" ng-class="{min: min}">
                <div class="head" ng-click="min = !min">
                    {{currRoom.id}}
                </div>
                <div class="msgs-container">
                    <div class="msgs mCustomScrollbar">
                        <div class="msg" ng-repeat="m in currRoom.msgs track by $index" id="messages">
                            <div ng-if="m.sender === sender" class="bubble-sender">
                                <div class="username">
                                    <b>Moi</b>
                                </div>
                                <div span-w>
                                    <span>{{m.msg}}</span>
                                </div>
                                <div class="time text-right">
                                    {{m.date | date:'HH:mm'}}
                                </div>
                            </div>
                            <div ng-if="m.sender !== sender" class="bubble-receiver">
                                <div class="username">
                                    <b>{{m.sender}}</b>
                                </div>
                                <div span-w>
                                    <span>{{m.msg}}</span>
                                </div>
                                <div class="time receiver">
                                    {{m.date | date:'HH:mm'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bot">
                    <form>
                        <input type="text" ng-model="currRoom.newMsg" id="m" name="{{currRoom.name}}"/><button ng-click="currRoom.sendMsg()">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>