<!doctype html>
<html>
    <head>
        <title>Socket.IO chat</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <link rel="stylesheet" href="chat/index.css"></link>
        <script src="chat/jquery.js"></script>
        <script src="chat/mCustomScrollbar.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="chat/mCustomScrollbar.css">
        <script src="chat/chat.js"></script>
        <script>
            (function($){
                $(window).load(function(){
                    $(".content").mCustomScrollbar();
                });
            })(jQuery);
        </script>
    </head>

    <body ng-app="Chat" ng-controller="chat">
        <div class="rooms">
            <div class="room" ng-repeat="r in rooms">
                <div class="msgs mCustomScrollbar">
                    <div ng-class="{'text-right': m.sender === sender}" ng-repeat="m in r.msgs track by $index" id="messages">
                        <div ng-if="m.sender === sender" class="bubble-sender">
                            <div>
                                {{m.msg}}
                            </div>
                            <div class="time">
                                {{m.date | date:'HH:mm'}}
                            </div>
                        </div>
                        <div ng-if="m.sender !== sender" class="bubble-receiver">
                            <div>
                                <b>{{m.sender}}</b>
                            </div>
                            <div>
                                {{m.msg}}
                            </div>
                            <div class="time receiver">
                                {{m.date | date:'HH:mm'}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input">
                    <form>
                        <input ng-model="r.newMsg" id="m" autocomplete="off" /><button ng-click="r.sendMsg()">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>