.rooms {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 5px;
}

.room {
	float: left;
	position: relative;
	border-style: solid;
	height: 350px;
	width: 300px;
	margin-left: 10px;
	background-color: #F3F3F3;
	border-width: 2px;
	border-color: #9A9191;
}

.room .msgs-container {
	padding: 5px;
	box-shadow: 0px 0px 102px -12px rgba(0, 0, 0, 0.29) inset;
}

.room .msgs {
	height: 306px;
}

.room .msg {
	display: table;
	width: 100%;
}

.input {
	width: 100%;
}

.bot {
    width: 296px;
    border-top: solid 2px #CAC1C1;
}

.bot form {
	float: left;
    width: 100%;
    display: inline-flex;
}

.bot button {
	float: right;
    border: none;
    background-color: #2D5FA9;
    width: 70px;
    color: white;
    font-weight: 600;
}

.bot input {
	width: 100%;
    height: 30px;
    outline: none;
    padding-left: 7px;
    border: none;
}

.time {
	color: #706A6A;
	font-size: 10px;
	line-height: 5px;
    padding-top: 5px;
    margin-right: -6px;
    margin-bottom: -2px;
}

.receiver {
	float: right;
}

.username {
	margin-top: 2px;
    margin-bottom: 4px;
}

.bubble-receiver {
	padding: 2px 10px 7px 7px;
	position: relative;
	border-radius: 5px;
	background-color: #62CCFF;
	margin-bottom: 5px;
	display: inline-block;
	word-break: break-word;
	max-width: 250px;
	box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.85);
}

.bubble-sender {
	padding: 2px 10px 7px 7px;
	position: relative;
	border-radius: 5px;
	background-color: #D4CDC2;
	margin-bottom: 5px;
	display: inline-block;
	float: right;
	word-break: break-word;
	max-width: 250px;
	box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.85);
	margin-right: 2px;
}

.mCSB_scrollTools .mCSB_draggerRail {
	width: 8px !important;
	border-radius: 1px !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: 6px !important;
	border-radius: 1px !important;
}

.mCSB_scrollTools {
	width: 8px !important;
}

.room .mCSB_inside>.mCSB_container {
    margin-right: 15px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	height: calc(100% - 2px) !important;
	margin-top: 1px !important;
}