<!doctype html>
<html>
    <head>
        <title>Socket.IO chat</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <link rel="stylesheet" href="chat/index.css"></link>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="chat/chat.js"></script>
    </head>

    <body ng-app="Chat" ng-controller="chat">
        <div class="rooms">
            <div class="room">
                <div ng-class="{'text-right': m.sender === sender}" ng-repeat="m in msgs track by $index" id="messages">
                    <span>{{m.date | date:'dd/MM HH:mm'}} : {{m.msg}}</span>
                </div>
                <div class="input">
                    <form>
                        <input ng-model="newMsg" id="m" autocomplete="off" /><button ng-click="sendMsg()">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>